In [ ]:
# Exercise 61: Get the American Inflation Data (CPI) from the beginning of the data series in FRED

In [3]:
from pandas_datareader import data as pdr
from datetime import datetime

In [6]:
data = "CPIAUCSL"

start = "1947-01-01"
end = datetime.now()

data_fred_cpi = pdr.get_data_fred(data, start, end)

data_fred_cpi

            CPIAUCSL
DATE
1947-01-01    21.480
1947-02-01    21.620
1947-03-01    22.000
1947-04-01    22.000
1947-05-01    21.950
...              ...
2023-06-01   303.841
2023-07-01   304.348
2023-08-01   306.269
2023-09-01   307.481
2023-10-01   307.619

[922 rows x 1 columns]